{% extends 'base.html' %}

{% block title %}Ztech List{% endblock %}

{% block content %}
<div class="btn-group" style="margin-top: 85px">
    <a href="{% url 'z_tech:add' %}" class="btn btn-success">Add Tech</a>
</div>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Scenario Name</th>
        <th>URL</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for tech in tech_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'z_tech:detail' pk=tech.pk %}">{{ tech.name }}</a></td>
            <td><a href="{{ tech.url }}">{{ tech.url }}</a></td>
            <td><a href="{% url 'z_tech:edit' pk=tech.pk %}" class="btn btn-primary btn-sm">Edit</a></td>
            <td><a href="{% url 'z_tech:delete' pk=tech.pk %}" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}