{% extends 'base.html' %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

       <h2 style="text-align: center">WHAT?!</h2>

      </div>
    </section><!-- End Breadcrumbs -->

  </main><!-- End #main -->
    <div style="margin-top: 7vh; margin-left: 5vh;">
        <div class="row m-auto">
          <div class="col-4" style="width: 300px">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">재테크</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">재테크의 3원칙</a>
              <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">나이별 재테크 추천</a>
{#              <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Settings</a>#}
            </div>
          </div>
          <div class="col-8" style="padding-left: 10vh">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                  <h1>재테크</h1>
                  <br>
                  <p>보유한 자금을 효율적으로 운용하여 재산을 불리는 행위.</p>
                  <p>원래 재무관리라는 의미로 기업에서 쓰는 말이었지만 지금와서는 거진 가계의 자산관리를 가리키는 말로 쓰인다.</p>
                  <p>재무관리의 원래 의미였던 자금을 끌어쓰고 효율적으로 운용하는 위험자산, 안전자산 투자나 현금 저축을 넘어, </p>
                  <p>아예 가계부를 써서 자신의 수입과 지출을 정확하게 파악하고 불 필요한 생활비를 줄이는 행위까지 가리키게 된 것이다.</p>
              </div>
              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                  <h1>재테크의 3원칙</h1>
                  <br>
                  <p>이 원칙에 따라 재테크 종류도 나눠집니다. 많은 분들이 저축과 투자를 혼용해서 사용하시는데, 둘은 전혀 다른 의미를 가지고 있습니다.</p>
                  <p>저축은 원금 보장을 기본으로 약간의 이자를 얻는 방식으로 투자를 위한 재테크의 출발점이라고도 할 수 있습니다.</p>
                  <p>즉 재테크 3원칙에서 2. 안정성이 부각되는 것이지요.</p>
                  <p>반면 투자는 원금 보장이 안 될 수 있지만, 높은 수익성을 띠는 상품입니다.</p>
                  <p>그리고 재테크를 할 때는 저축과 투자 상품에 적절히 분배하여 포트폴리오를 작성해야하는 것이지요.</p>
                  <p>그럼, 이제 재테크 종류 중 저축 상품인 예·적금, 주택청약종합저축과 투자 상품인 주식, 펀드, CMA 등의 상품에 대해 설명드리도록 하겠습니다.</p>

              </div>
              <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                  <h1>나이별 재테크 추천</h1>
                  <br>
                  <div class="accordion accordion-flush" id="accordionFlushExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            20~30대 - 사회초년기
                          </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                              <h4>재무 관심 사항
                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  점검사항
                              </h4>

                              <ul class="list-group list-group-horizontal-xl" style="text-align: center">
                                  <li class="list-group-item" style="width: 50%">취업이나 사업 시작으로 수입원 발생</li>
                                  <li class="list-group-item" style="width: 50%">수입과 지출 관리</li>
                              </ul>
                              <ul class="list-group list-group-horizontal-lg" style="text-align: center">
                                  <li class="list-group-item" style="width: 50%">질병이나 상해 위험 보장</li>
                                  <li class="list-group-item" style="width: 50%">소득 대비 8~10% 이내로 관리</li>
                              </ul>
                              <ul class="list-group list-group-horizontal-lg" style="text-align: center">
                                  <li class="list-group-item" style="width: 50%">결혼 자금 마련을 위한 저축과 투자 시작</li>
                                  <li class="list-group-item" style="width: 50%">저축 및 투자 포트폴리오 구성</li>
                              </ul>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            30~40대 - 가족 형성기
                          </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                              <h4>재무 관심 사항
                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  점검사항
                              </h4>

                              <ul class="list-group list-group-horizontal-xl" style="text-align: center">
                                  <li class="list-group-item" style="width: 50%">결혼 후 맞벌이 또는 외벌이 부부 시작</li>
                                  <li class="list-group-item" style="width: 50%">소득 대비 맞벌이는 50%, 외벌이는 30% 이상 저축/투자</li>
                              </ul>
                              <ul class="list-group list-group-horizontal-lg" style="text-align: center">
                                  <li class="list-group-item" style="width: 50%">자녀 양육비 및 교육비 준비</li>
                                  <li class="list-group-item" style="width: 50%">단기, 중기, 장기적인 목적 자금 배분</li>
                              </ul>
                              <ul class="list-group list-group-horizontal-lg" style="text-align: center">
                                  <li class="list-group-item" style="width: 50%">주택 마련과 노후 자금 준비 시작</li>
                                  <li class="list-group-item" style="width: 50%">아파트 청약 접수</li>
                              </ul>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            40~50대 - 가족 성장기
                          </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                               <h4>재무 관심 사항
                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  점검사항
                               </h4>

                              <ul class="list-group list-group-horizontal-xl" style="text-align: center">
                                  <li class="list-group-item" style="width: 50%">주택 확장 또는 이사 자금 마련</li>
                                  <li class="list-group-item" style="width: 50%">주택 자금 계획 수립</li>
                              </ul>
                              <ul class="list-group list-group-horizontal-lg" style="text-align: center">
                                  <li class="list-group-item" style="width: 50%">자녀 교육 자금 마련</li>
                                  <li class="list-group-item" style="width: 50%">저축과 투자 수익률 점검 및 리밸런싱</li>
                              </ul>
                              <ul class="list-group list-group-horizontal-lg" style="text-align: center">
                                  <li class="list-group-item" style="width: 50%">노후 자금 준비</li>
                                  <li class="list-group-item" style="width: 50%">노후 자금 평가 및 추가 계획 수립</li>
                              </ul>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                50~60대 - 가족 성숙기
                              </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                  <h4>재무 관심 사항
                                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                      점검사항
                                  </h4>

                                  <ul class="list-group list-group-horizontal-xl" style="text-align: center">
                                      <li class="list-group-item" style="width: 50%">자녀 교육 자금 마련</li>
                                      <li class="list-group-item" style="width: 50%">교육 자금 및 결혼 자금 계획 수립</li>
                                  </ul>
                                  <ul class="list-group list-group-horizontal-lg" style="text-align: center">
                                      <li class="list-group-item" style="width: 50%">자녀 결혼 자금 마련</li>
                                      <li class="list-group-item" style="width: 50%">저축과 투자 수익률 점검 및 리밸런싱</li>
                                  </ul>
                                  <ul class="list-group list-group-horizontal-lg" style="text-align: center">
                                      <li class="list-group-item" style="width: 50%">노후 자금 준비</li>
                                      <li class="list-group-item" style="width: 50%">예상 노후 자금 확인</li>
                                  </ul>
                              </div>
                            </div>
                      </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                60대 중반 이후 - 노후 생활기
                              </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                  <h4>재무 관심 사항
                                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                      점검사항
                                  </h4>

                                  <ul class="list-group list-group-horizontal-xl" style="text-align: center">
                                      <li class="list-group-item" style="width: 50%">노후 자금 수령</li>
                                      <li class="list-group-item" style="width: 50%">노후 자금 수령 금액, 수령 시기 확인</li>
                                  </ul>
                                  <ul class="list-group list-group-horizontal-lg" style="text-align: center">
                                      <li class="list-group-item" style="width: 50%">의료 비용 점검</li>
                                      <li class="list-group-item" style="width: 50%">보장성 보험 보장 내용 재점검</li>
                                  </ul>
                                  <ul class="list-group list-group-horizontal-lg" style="text-align: center">
                                      <li class="list-group-item" style="width: 50%">상속/증여 계획 수립</li>
                                      <li class="list-group-item" style="width: 50%">가족 회의 및 전문자 절세 상담담</li>
                                 </ul>
                              </div>
                            </div>
                          </div>
                        </div>
              </div>
            </div>
          </div>
      </div>
    </div>

{#<script src="{% static 'js/detail.js' %}"></script>#}
{% endblock %}